<div class="grid" [ngSwitch]="currentUserRole" style="margin-top: 20px;">
    <app-risk-manager-dashboard *ngSwitchCase="UserRole.RISK_MANAGER" [filteredModules]="filteredModules"
        title="Dashboard Risk Manager" (openModule)="onOpenModule($event)"
        (openRiskManagement)="showRiskManagementView()">
    </app-risk-manager-dashboard>

    <app-risk-agent-dashboard *ngSwitchCase="UserRole.RISK_AGENT" [filteredModules]="filteredModules"
        title="Dashboard Risk Agent" (openModule)="onOpenModule($event)">
    </app-risk-agent-dashboard>

    <app-audit-senior-dashboard *ngSwitchCase="UserRole.AUDIT_SENIOR" [filteredModules]="filteredModules"
        title="Dashboard Audit Senior" (openModule)="onOpenModule($event)">
    </app-audit-senior-dashboard>

    <app-auditeur-dashboard *ngSwitchCase="UserRole.AUDITEUR" [filteredModules]="filteredModules"
        title="Dashboard Auditeur" (openModule)="onOpenModule($event)">
    </app-auditeur-dashboard>

    <app-admin-si-dashboard *ngSwitchCase="UserRole.ADMIN_SI" [filteredModules]="filteredModules"
        description="Gérez les accès, supervisez la plateforme et assistez les utilisateurs."
        (openModule)="onOpenModule($event)" (openUserManagement)="showUserManagementView()">
    </app-admin-si-dashboard>

    <app-super-admin-dashboard *ngSwitchCase="UserRole.SUPER_ADMIN" [filteredModules]="filteredModules"
        title="Dashboard Super Admin"
        description="Accès complet à toutes les fonctionnalités et modules de la plateforme."
        (openModule)="onOpenModule($event)" (openUserManagement)="showUserManagementView()"
        (toggleAssistant)="onToggleAiAssistant()">
    </app-super-admin-dashboard>

    <app-top-management-dashboard *ngSwitchCase="UserRole.TOP_MANAGEMENT" [filteredModules]="filteredModules"
        (openModule)="onOpenModule($event)">
    </app-top-management-dashboard>

    <div *ngSwitchDefault>
        <p>Chargement de votre espace personnalisé...</p>
    </div>
</div>